<nav class="navbar navbar-expand-lg navbar-light bg-white position-sticky">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      
        <%= image_tag("tcclogo.png", style: "width: 50px !important;") %>
        <h6 class="d-none d-md-block fw-bold mb-0 ms-2">
          TRIUMPHANT
          <br>
          CHRISTIAN CENTRE
        </h6>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path,  class:"nav-link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ministries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sermons</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gallery
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Image Gallery</a></li>
            <li><a class="dropdown-item" href="#">Video Gallery</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Events & Programs</a>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_path,  class:"nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <%= link_to livestreams_path, class:"btn btn-primary px-3 py-2" do %>
            Livestream
            <i class="fa-solid fa-tv ms-1"></i>
        <% end %>
      </ul>
    </div>
  </div>
</nav>